.game-form-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.word-input-wrapper {
	flex: 1;
}

.submit-button-wrapper {
	flex: 1;
}

button[type="submit"] {
	padding: 0.5em;
	background-color: #99bb88;
	border: 1px #f0f884 solid;
	border-radius: 25px;
}
