.game-form-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.word-input-wrapper {
	flex: 1;
}

.submit-button-wrapper {
	flex: 1;
}

.toast {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.toast.toast-info {
	background-color: #e2e2e2;
	color: black;
}

.toast.toast-warning {
	background-color: #f0f884;
	color: black;
}

.toast.toast-error {
	background-color: #fd3838;
	color: white;
}

input:invalid {
	border: 1px solid red;
}

td {
	border: 1px solid black;
	padding: 1em;
}

td[data-status="correct"] {
	background-color: green;
	color: white;
}

td[data-status="match"] {
	background-color: yellow;
	color: black;
}

td[data-status="wrong"] {
	background-color: darkslategray;
	color: white;
}

button[type="submit"] {
	padding: 0.5em;
	background-color: #99bb88;
	border: 1px #f0f884 solid;
	border-radius: 25px;
}
